body{
    background-image: url('../photo/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  /* header text */
  h1{
    color: lightskyblue;
    font-family: cursive;
    font-size: xx-large;
  }
  /* text area */
  h3{
    color:antiquewhite;
    font-family: cursive;
    font-size: 1.4rem;
    color: greenyellow;
  }
  h2{
    color:peru;
    font-size: x-large;
  }
  /* box */
  div#box{
  margin-inline:10px;
  text-align: center;
  }
  div#main{
  width:35rem;
  height:16rem;
  padding: 10px;
  text-align: center;
  }
  /* text-box-control */
  .label-control{
     font-size: large;
     align-items: center;
     display: flex;
  }
  /* output area css */
  div#output_box_area{
     background-color:darkgrey;
     height: 45vh;
     padding:10px 40px;
     margin-inline: 20px;
     border-radius: 5px;
     font-size: large;
     overflow-y: auto; 
     overflow-x: auto;
}

.form-control{
    max-width: max-content;
    font-size: 0.7rem;
}

select{
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.pod-image{
    width: 19rem;
    height: 10rem;
    border-radius: 10px;
}

.deployment-image{
    width: 19rem;
    height: 10rem;
    border-radius: 10px;
}

.red{
    color: red;
}
